<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MacGym_DB.Properties.Settings.MacGymConnectionString"
      connectionString="Server=tcp:we5ahlobdc.database.windows.net,1433;Database=macgymA30TGHR87Q;User ID=salogin@we5ahlobdc;Password=sql!123456;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>