<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MacGym_DB.Properties.Settings.MacGymConnectionString"
            connectionString="Data Source=mushegh\sqlexpress;Initial Catalog=MacGym;Persist Security Info=True;User ID=sa;Password=sql!123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>