<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MacGym_DB.Properties.Settings.MacGymConnectionString"
      connectionString="Data Source=tcp:we5ahlobdc.database.windows.net,1433;Initial Catalog=macgymA30TGHR87Q;Persist Security Info=True;User ID=salogin;Password=sql!123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>