@model IndexModel
@{
    ViewBag.Title = "Home";
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTab').tab();

            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        });


    </script>
}
<div class="row">
    <div class="span9">
         
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#body">BODY</a></li>
            <li><a href="#tools">TOOLS</a></li>
        </ul>
 
        <div class="tab-content">
            <div class="tab-pane active" id="body">
                <ul>
                    @foreach (var item in Model.BodyParts)
                    {
                        <li>@(Html.ActionLink(item.name, "List", new { bodyPart = item.bodyPartID }))</li>
                    }
                </ul>
            </div>
            <div class="tab-pane" id="tools">
                <ul>
                    @foreach (var item in Model.Tools)
                    {
                        <li>@(Html.ActionLink(item.name, "List", new { tool = item.toolID }))</li>
                    }
                </ul>
            </div>
        </div>

    </div>
    <div class="span3">
        <h4>Last 10 viewed</h4>
        <ul>
            <li><a href="#">text 1</a></li>
            <li><a href="#">text 2</a></li>
            <li><a href="#">text 3</a></li>
            <li><a href="#">text 4</a></li>
            <li><a href="#">text 5</a></li>
            <li><a href="#">text 6</a></li>
            <li><a href="#">text 7</a></li>
            <li><a href="#">text 8</a></li>
            <li><a href="#">text 9</a></li>
            <li><a href="#">text 10</a></li>
        </ul>
    </div>
</div>
