@model ListModel
@{
    ViewBag.Title = "List";
}

<h2>List of Exercises</h2>

@foreach (var item in Model.Workouts)
{
    <hr>
    
    <div class="row">
        <div class="span2">
            @if(item.HasImage)
            {
                <a href="@Url.Action("Details", new { id = item.WorkoutID })">
                    <img src="~/Content/Images/Workouts/@(item.FirstImage)">
                </a>
            }
        </div>
        <div class="span10">
            <h4>@(item.Name)</h4>
            <p>@(item.Description)</p>
            <p>@(Html.ActionLink("Details", "Details", new { id = item.WorkoutID }))</p>
        </div>
    </div>    
}
@*<div class="row">
    <div class="pagination pagination-centered span12">  
        <ul>  
        <li><a href="#">Prev</a></li>  
        <li class="active">  
            <a href="#">1</a>  
        </li>  
        <li><a href="#">2</a></li>  
        <li><a href="#">3</a></li>  
        <li><a href="#">4</a></li>  
        <li><a href="#">Next</a></li>  
        </ul>  
    </div>  
</div>*@
