@{
    ViewBag.Title = "List";
}

<h2>List of Exercises - Balls</h2>
<hr>

<div class="row">
    <div class="span2">
        <img src="http://www.jefit.com/images/exercises/800_600/2404.jpg">
    </div>
    <div class="span10">
        <p>Start off by lying down with your chest on top of an exercise ball in a plank position with your arms extended back behind your body</p>
        <p>@(Html.ActionLink("Details", "Details", new { workout = 1}))</p>
    </div>
</div>

<hr>

<div class="row">
    <div class="span2">
        <img src="http://www.jefit.com/images/exercises/800_600/2405.jpg">
    </div>
    <div class="span10">
        <p>Arch your back towards the ceiling and hold position for a few seconds then return to the start position.</p>
        <p>@(Html.ActionLink("Details", "Details", new { workout = 1}))</p>
    </div>
</div>

