@model ListModel
@{
    ViewBag.Title = "List";
}

<h2>List of Exercises</h2>

@foreach (var item in Model.Workouts)
{
    <hr>
    
    <div class="row">
        <div class="span2">
            @if(item.HasImage)
            {
                <img src="~/Content/Images/Workouts/@(item.FirstImage)">
            }
        </div>
        <div class="span10">
            <p>@(item.Description)</p>
            <p>@(Html.ActionLink("Details", "Details", new { id = item.WorkoutID}))</p>
        </div>
    </div>    
}
